.main {
  height: 100%;
  font-smooth: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: auto;
  margin: 40px 60px;
  padding: 0;
}

.main *,
.main *:before,
.main *:after {
  box-sizing: border-box;
}
